body {
	position:absolute;
	height:100%;
	width:100%;
}

.App {
	position:absolute;
	height:100%;
	width:100%;
}

section {
	position:relative;
	width:100%;
	height:100%;
	background-color:#000;
}

.section {
	&.desktop{
		@include media('<=phone') {
			display:none;
		}
		@include media('>=phone') {
			display:block;
		}
	}

	&.mobile{
		@include media('<=phone') {
			display:block;
		}
		@include media('>=phone') {
			display:none;
		}
	}
}